<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LTQFM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7341C8C01E4094B80023A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7341C8D91E4094B80023A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7341C8E41E4094B80023A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
